body{
    background-image:url(fundo.jpg);
    text-align: center;
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.link{
    background-color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:brown;
    text-decoration: none;
    border-radius: 10%;
}